     @import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300&family=Sofia&display=swap');
     * {
         border: 0px solid red;
         margin: 0;
         padding: 0%;
         box-sizing: border-box;
         font-family: 'spartan', sans-serif;
     }
     
     h1 {
         font-size: 50px;
         line-height: 64px;
         color: #222;
     }
     
     h2 {
         font-size: 46px;
         line-height: 54px;
         color: #222;
     }
     
     h4 {
         font-size: 20px;
         color: #222;
     }
     
     h6 {
         font-weight: 700;
         font-size: 12px;
     }
     
     p {
         font-size: 16px;
         color: gray;
         margin: 15px 0 20px 0;
     }
     
     .section-p1 {
         padding: 60px 100px;
     }
     
     .section-m1 {
         margin: 40px 0;
     }
      button.normal{
        font-size: 14px;
        font-weight: 600;
        padding: 15px 30px;
        color: #faf7f7;
        box-shadow:2px 2px 4px rgba(0, 0, 0, 0.562);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.562);
        background-color: rgb(0, 0, 0);
        border: none;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        transition: 0.2s;
      }
     
      button.white{
        font-size: 13px;
        font-weight: 600;
        padding: 11px 18px;
        color: #ffffff;
        box-shadow:2px 2px 4px rgba(0, 0, 0, 0.562);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.562);
        background-color:rgba(0, 0, 0, 0.582);
        border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.582);
        outline: none;
        cursor: pointer;
        transition: 0.2s;

      }
     
     body {
         width: 100%;
     }
     /*header*/
     
     #header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 20px 80px;
         background:#eeecec ;
         box-shadow: 0 5px 15px rgba(0, 0, 0, 0.096);
         z-index: 999;
         position: sticky;
         top: 0;
         left: 0;
     }
     
     #navbar {
         display: flex;
         align-items: center;
         justify-content: center;
     }
     
     #navbar li {
         list-style: none;
         padding: 0 20px;
         position: relative;
     }
     
     #navbar li a {
         text-decoration: none;
         font-size: 16px;
         font-weight: 600;
         color: #1a1a1a;
         transition: 0.3s;
     }
     
     #navbar li a:hover,
     #navbar li a.active {
         color: rgb(0, 0, 0);
     }
     
     #navbar li a.active::after,
     #navbar li a:hover::after {
         content: "";
         width: 30%;
         height: 2px;
         background: rgb(0, 0, 0);
         ;
         position: absolute;
         bottom: -4px;
         left: 20px;
     }
     #mobile{
        display: none;
        align-items: center;
     }
     #close{
        display: none; 
    }
     /*homepage*/
     
     #hero {
         background-image: url("IMAGE/heropic.jpg");
         height: 90vh;
         width: 100%;
         background-size: cover;
         background-position: top 25% right 0;
         padding: 0 80px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
     }
     
     #hero h4 {
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.788);
         padding-bottom: 15px;
         color: rgb(255, 255, 255);
         ;
         font-size: 27px;
     }
     
     #hero h1 {
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.753);
         color: rgb(255, 255, 255);
     }
     
     #hero h2 {
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.753);
         color: rgb(255, 255, 255);
         ;
     }
     
     .ph4 {
         color: rgb(255, 255, 255);
         font-size: 14px;
     }
     
     #hero button{
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         background-color: rgb(0, 0, 0);
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.562);
         border: none;
         color: rgb(255, 255, 255);
         border-radius: 20px;
         padding: 15px 25px;
         display: inline-block;
         cursor: pointer;
         font-size: 20px;
         background: rgb(0, 0, 0);
         transition: 0.3s ease;
     }
     
    #hero button:hover {
         background-color: rgb(255, 255, 255);
         color:rgb(0, 0, 0);
     }
     
     #feature {
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
     }
     
     #feature .fe-box {
         width: 180px;
         text-align: center;
         padding: 25px 15px;
         box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.185);
         border: 1px solid #08080821;
         border-radius: 19px;
         margin: 15px 0;
         transition: 0.6s ease;
     }
     
     #feature .fe-box:hover {
         box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.603);
         border-radius: 25px;
     }
     
     #feature .fe-box img {
         width: 80%;
         margin-bottom: 15px;
     }
     
     #feature .fe-box h6 {
         padding: 9px 8px 6px 8px;
         line-height: 1;
         border-radius: 4px;
         color: rgb(255, 255, 255);
         background-color: rgb(0, 0, 0);
     }
     
     #feature .fe-box:nth-child(2) h6 {
         background-color:  rgb(0, 0, 0);
         color: rgb(255, 255, 255);
     }
     
     #feature .fe-box:nth-child(3) h6 {
         background-color:  rgb(0, 0, 0);
         color: rgb(255, 255, 255);
     }
     
     #feature .fe-box:nth-child(4) h6 {
         background-color: rgb(0, 0, 0);
         color: rgb(255, 255, 255);
     }
     
     #feature .fe-box:nth-child(5) h6 {
         background-color:  rgb(0, 0, 0);
         color: rgb(255, 255, 255);
     }
     
     #feature .fe-box:nth-child(6) h6 {
         background-color: rgb(0, 0, 0);
         color: rgb(255, 255, 255);
     }
     
     #product-1 {
         text-align: center;
     }
     #product-1 .pro-container{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
        

     }
     
     #product-1 .pro {
         width: 23%;
         min-width: 250px;
         padding: 10px 12px;
         border: 1px solid rgb(0, 0, 0);
         border-radius: 25px;
         cursor: pointer;
         box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.219);
         margin: 15px 0;
         transition: 0.4s;
         position: relative;
     }
     
     #product-1 .pro.pro:hover {
         box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.555);
     }
     
     #product-1 .pro img {
         width: 80%;
         border-radius: 20px;
     }
     
     #product-1 .pro .des {
         text-align: start;
         padding: 10px 0;
     }
     
     #product-1 .pro .des span {
         color: gray;
         font-size: 13px;
     }
     
     #product-1 .pro .des h5 {
         color: #1a1a1a;
         font-size: 18px;
     }
     #product-1 .pro .des i{
        font-size: 12px;
        color: goldenrod;
     }
     #product-1 .pro .des h4{
        padding-top:7px ;
        font-size: 20px;
        font-weight: 700;
        color: rgb(21, 56, 21);
     }
     #product-1 .pro .cart{
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.226);
        color: rgb(0, 0, 0);
        border: 1px solid gray;
        position: absolute;
        bottom: 20px;
        right: 20px;

     }
     #banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url(IMAGE/banner-1.jpg);
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
     }
     #banner h4{
        color: #e3e6f3;
        font-size: 19px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.562);
     }
     #banner h2{
        color: #e3e6f3;
        font-size: 50px;
        padding: 15px 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.562);

     }

     #banner h2 span{
        color: rgb(40, 231, 119);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.562);
     }
     #banner button:hover{
        background-color: rgba(255, 255, 255, 0.61);
        color:black;
     }
     #sm-banner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
     }
     #sm-banner .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(IMAGE/sm-banner1.jpg);
        min-width: 560px;
        height: 45vh;
        background-size: cover;
        background-position: center;
        padding: 30px;
        border-radius: 30px;

     }
     #sm-banner .banner-box2{
        background-image: url(IMAGE/sm-banner3.jpg);
     }
     #sm-banner h4{
        color:white;
        font-size: 19px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

     }
     #sm-banner h2{
        color: white;
        font-size: 40px;
        font-weight: 800;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     }
     #sm-banner span{
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 19px;
        font-weight: bold;
        padding-bottom: 15px;
     }
     #sm-banner .banner-box:hover button{
        background-color: rgba(255, 255, 255, 0.658);
        border: 1px solid rgb(255, 255, 255);
        color: rgb(48, 36, 36);

     }
     #banner3{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 80px;
     }
     #banner3  .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(IMAGE/sm-banner2.jpg);
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom:20px ;
        border-radius: 30px;
     }
     #banner3 .banner-box2{
        background-image: url(IMAGE/sm-banner4.jpg);
     }
     #banner3 .banner-box3{
        background-image: url(IMAGE/sm-banner5.jpg);
     }
     #banner3 h2{
        color: white;
        font-size: 30px;
        font-weight: 800;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.616);

     }
     #banner3 h3{
        color: rgba(255, 255, 255, 0.781);
        font-size: 19px;
        font-weight: 800;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.705);
        
     }  

     #newsletter {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-image: url(IMAGE/sign-up.jpg)  ;
        background-repeat: no-repeat;
        background-position: 50% 90%;
        background-color: #1a1a1a;
     }
     #newsletter h4{
        font-size: 22px;
        font-weight: 700;
        color: white;
     }
     #newsletter .form{
        display: flex;
        width: 40%;

     }
     #newsletter p{
        font-size: 14px;
        font-weight: 600;
        color: #818ea0;
     }
     #newsletter p span{
        color: #ffbd27;
     }
     #newsletter input{
        height: 3.125rem;
        padding: 0 1.25rem;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        box-shadow:rgba(0, 0, 0, 0.479) ;
        outline: none;
     }

     button.sup{
        background-color: rgb(207, 205, 205);
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius:15px;
        border-top-right-radius:15px ;
        font-size: 14px;
        font-weight: 600;
        padding: 15px 30px;
        color: #000000;
        box-shadow:2px 2px 4px rgba(0, 0, 0, 0.562);
        background-color: rgb(255, 255, 255);
        outline: none;
        cursor: pointer;
        transition: 0.2s;
      }
      button.sup:hover{
        background-color: rgb(207, 205, 205);
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 14px;
        font-weight: 600;
        padding: 15px 30px;
        color: #fffafa;
        box-shadow:2px 2px 4px rgba(0, 0, 0, 0.562);
        background-color: rgb(0, 0, 0);
        outline: none;
        cursor: pointer;
        transition: 0.2s;
      }

     footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }
     footer .col{
        display: flex;
        flex-direction: column;
        align-items:flex-start ;
        margin-bottom: 20px; 
    }
    footer .logo{
        margin-bottom: 30px;
    }
    footer h4{
        font-size: 14px;
        padding-bottom: 20px;
    }
    footer p{
        font-size: 13px;
        margin: 0 0  8px 0;

    }
    footer a{
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin: 0 0  10px 0;
        
    }
    footer .follow{
        margin-top: 20px; 
    }
    footer .follow i{
        color: #465b52;
        padding-right: 6px;
        cursor: pointer;
    }
    footer .follow i:hover,
    footer a:hover{
        color:rgb(0, 69, 172);
        cursor: pointer;
        text-decoration: wavy;   
     }
     footer .copywrite{
        width: 100%;
        text-align: center;
     }


/*shop page*/

#page-header{
    background-image: url("IMAGE/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2
,#page-header h4{
    color: #fff;
}
#pagination {
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #000000bb;
    color: #fff;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 600;
}
#pagination i{
    font-size: 16px;
    font-weight: 600;
}

/*single product*/
#prodetails{
    display: flex;
    margin-top: 20px;

}
#prodetails .single-pro-image{
    width: 25%;
    margin-right: 50px;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top:30px ;
}
#prodetails .single-pro-details h4{
    padding :40px 0 20px 0 ;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    margin-right:10px ;
    background-color: #636363;
    font-size: 18px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.562);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
#prodetails .single-pro-details input:focus{
    outline: #000000;
}
#prodetails .single-pro-details button{
    background-color: #636363;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}

/*about page */

#page-header.about-header{
    background-image: url("IMAGE/b2.jpg");
}
#page-header.about-header h2{
   text-shadow: #000000;

}
#about-header{
    display: flex;
    align-items: center;
}
#about-header img{
    width: 40%;
    height: auto;
    border-radius:10px ;
}
#about-header div{
    padding-left:40px ;
}

/*MEDIA QEURY*/

     @media (max-width:799px) {
        .section-p1{
            padding: 40px 40px;
        }
        
        #navbar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -300px;
            height: 100vh;
            width: 300px;
            background-color: #9aada6;
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
            padding: 80px 0 0 10px;
            transition:0.3s;
        }
        #navbar.active{
            right: 0;

        }
        #navbar li{
            margin-bottom: 25px;
        }
        #mobile{
            display: flex;
            align-items: center;
         }
        #mobile i{
            color: #1a1a1a;
            font-size: 24px;
            padding-left: 20px;

        }
        #close{
            display: initial;
            position: absolute;
            top: 30px;
            left: 30px;
            color: #1a1a1a;
            font-size: 24px;

        }
        #lg-bag{
            display: none;
        }
        #hero {
            height: 70vh;
            padding: 0 80px;
            background-position: top 30% right 30%;
        }
        #feature {
       justify-content: center;
        }
        #feature .fe-box{
            margin:15px 15px;

        }
        #product-1 .pro-container {
            justify-content: center;
     
        }
        #product-1 .pro{
            margin:15px;
        }
        #banner {
            height: 20vh;
        }
        #sm-banner .banner-box {
  
            min-width: 100%;
            height: 30vh;
            border-radius: 30px;
        }
        #banner3 {
            padding: 0 40px;
        }
        #banner3  .banner-box {
            width: 28%;
        }
        #newsletter .form {
            width: 70%;
        }
     }
@media (max-width: 477px) {
    #header{
        padding: 10px 30px;

    }
    .section-p1{
        padding: 20px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
  
    }
    #hero{
        padding:0 20px;
        background-position:55% ;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product-1 .pro{
        width: 100%;
         
    } 
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    
    }
    footer .copywrite{
        text-align: start;
    }
}
